@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:wght@400;700&display=swap");

::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    -75deg,
    var(--first-color) 33%,
    var(--text-color) 36%,
    var(--first-color) 39%,
    var(--text-color) 90%,
    var(--first-color) 100%
  );
  border-radius: 12rem;
  border-bottom: 2px solid var(--title-color);
}
:root {
  --header-height: 3rem;

  /*---------- Colors ----------*/
  --first-color: rgb(233, 0, 0);
  --first-color-alt: rgb(255, 128, 128);
  --title-color: rgb(28, 29, 49);
  --text-color: rgb(47, 48, 58);
  --body-color: rgb(255, 225, 225);
  --circle-color: rgb(253, 189, 189);
  --box-shadow: 0 8px 20px #640000ab;

  /*----- Font and typography -----*/
  --body-font: "Roboto", sans-serif;
  --second-font: "Lemon", cursive;
  --biggest-font-size: 3rem;
  --normal-font-size: 1rem;
}
.second-mood {
  --body-color: rgb(76, 253, 40);
  --circle-color: rgb(94, 255, 0);
  transition: 1s ease;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3.6rem;
    --normal-font-size: 1.1rem;
  }
}
/*---------- BASE ----------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 1s ease;
}

h2 {
  font-size: 2rem;
  font-family: var(--second-font);
  color: var(--title-color);
  text-align: center;
  padding: 3rem 0;
}
h3 {
  font-size: 1.5rem;
  font-family: var(--second-font);
  color: var(--title-color);
  text-align: center;
  padding: 3rem 0;
}
h4 {
  text-align: center;
  font-size: 1.2rem;
  color: var(--title-color);
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  :root {
    --biggest-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
  h2 {
    font-size: 1.8rem;
    font-family: var(--second-font);
    color: var(--title-color);
    text-align: center;
    padding: 3rem 0;
  }
  h3 {
    font-size: 1.3rem;
    font-family: var(--second-font);
    color: var(--title-color);
    text-align: center;
    padding: 3rem 0;
  }
  h4 {
    text-align: center;
    font-size: 1.1rem;
    color: var(--title-color);
    padding: 1rem;
  }
}
span {
  color: var(--first-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1424px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.main {
  overflow: hidden;
}

/* ----------Menu ---------- */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 1rem;
  backdrop-filter: blur(35px);
  z-index: 99;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-family: var(--second-font);
  color: var(--first-color);
}
.nav-logo span {
  color: var(--title-color);
}
.nav-toggle {
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: var(--first-color-alt);
    top: -700%;
    left: 0;
    border-bottom: 3px solid var(--first-color);
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 3.5rem 0 3rem;
    border-radius: 0 0 2rem 2rem;
    transition: top 0.5s;
    z-index: 99;
  }
}
.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}
.nav-link {
  font-weight: 700;
  color: var(--title-color);
  transition: color 0.4s;
}
.nav-link:hover {
  color: var(--first-color);
}
@media screen and (max-width: 767px) {
  .nav-link {
    color: #fff;
  }
}
.nav-close {
  position: absolute;
  color: var(--title-color);
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-img {
  position: absolute;
  height: 115%;
  top: -0.4rem;
  left: 0;
}
.mood-button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.mood-button:hover {
  box-shadow: var(--box-shadow);
}
.show-menu {
  top: 0;
}
/*--------------- HOME ---------------*/
.home,
.home-container {
  position: relative;
}
.home-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 8rem;
  row-gap: 1rem;
}
.home-data {
  padding: 2rem 0;
}
.home-title {
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  color: var(--title-color);
  margin-bottom: 0.75rem;
}
.home-title span {
  color: var(--first-color);
}
.home-description,
.home-button {
  font-weight: 700;
  font-size: 1.5rem;
}
.home-description {
  color: var(--title-color);
  margin-bottom: var(--normal-font-size);
}
.home-button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.6rem 3rem;
  border-radius: 1rem 0.25rem;
  box-shadow: var(--box-shadow);
}
.home-button:hover {
  box-shadow: 0 8px 20px #000000;
}
.home-images {
  position: relative;
  width: 325px;
  height: 378px;
  justify-self: center;
}
.home-images img {
  position: absolute;
}
.home-liquid {
  max-width: initial;
  width: 340px;
  left: 0.5rem;
}
.home-milk {
  width: 400px;
  bottom: 1rem;
  right: -1rem;
}
.home-juice {
  width: 230px;
  left: 1rem;
  right: 0;
  top: 1rem;
  margin: 0 auto;
  animation: float-juice 4s ease-in-out infinite;
}
.home-apple2 {
  width: 150px;
  right: -3rem;
  bottom: 2rem;
}
.home-apple1 {
  width: 170px;
  top: 5rem;
  left: -7rem;
}
.home-leaf:nth-child(1),
.home-leaf:nth-child(6) {
  width: 70px;
}
.home-leaf:nth-child(2),
.home-leaf:nth-child(4),
.home-leaf:nth-child(5) {
  width: 80px;
}
/* Move balls into position */
.home-leaf:nth-child(1) {
  top: -5rem;
  right: 1rem;
}
.home-leaf:nth-child(2) {
  top: 0.5rem;
  left: 0.5rem;
  transform: rotate(-10deg);
}
.home-leaf:nth-child(3) {
  width: 70px;
  top: 8rem;
  right: -2rem;
  transform: rotate(-10deg);
}
.home-leaf:nth-child(4) {
  bottom: 6rem;
  left: 1rem;
  transform: rotate(-15deg);
}
.home-leaf:nth-child(5) {
  bottom: -1rem;
  right: 4rem;
}
.home-leaf:nth-child(6) {
  bottom: -1rem;
  left: 0;
}
.home-shape-small,
.home-shape-big {
  background-color: var(--circle-color);
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
}
.home-shape-small {
  width: 200px;
  height: 200px;
  top: -5rem;
  left: -5rem;
}
.home-shape-big {
  width: 250px;
  height: 250px;
  bottom: 15rem;
  right: -8rem;
}
.home-shape-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
  z-index: -1;
}
/* Animation juice */
@keyframes float-juice {
  0% {
    transform: translateY(0) rotate(15deg);
  }
  50% {
    transform: translateY(-1.5rem) rotate(12deg);
  }
  100% {
    transform: translateY(0) rotate(15deg);
  }
}
/*----------BREAKPOINTS ----------*/
/* For small devices */
@media screen and (max-width: 500px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .home-images {
    width: 245px;
    height: 320px;
  }
  .home-liquid {
    width: 250px;
    left: 0;
  }
  .home-milk {
    width: 350px;
    bottom: 2rem;
    right: -1rem;
  }
  .home-juice {
    width: 200px;
  }
  .home-apple1 {
    top: 8rem;
    left: -3rem;
    width: 120px;
  }
  .home-apple2 {
    bottom: 1rem;
    right: -1rem;
    width: 110px;
  }
}
/* For medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav-toggle,
  .nav-close,
  .nav-img {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .home-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    padding-top: 4rem;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .home-container {
    column-gap: 0.5rem;
  }
  .home-images {
    width: 530px;
    height: 590px;
  }
  .home-data {
    width: 400px;
  }
  .home-liquid {
    width: 530px;
  }
  .home-milk {
    width: 500px;
    bottom: 1rem;
    right: -1rem;
  }
  .home-juice {
    width: 350px;
    left: 0;
    top: 2rem;
  }
  .home-apple2 {
    width: 230px;
    right: -2rem;
    bottom: 1rem;
  }
  .home-apple1 {
    width: 250px;
    top: 10rem;
    left: -7rem;
  }
  .home-leaf:nth-child(1),
  .home-leaf:nth-child(6) {
    width: 100px;
  }
  .home-leaf:nth-child(2),
  .home-leaf:nth-child(4),
  .home-leaf:nth-child(5) {
    width: 90px;
  }
  .home-leaf:nth-child(1) {
    top: -1rem;
    right: 2rem;
  }
  .home-leaf:nth-child(2) {
    top: 2.5rem;
    left: 2.25rem;
  }
  .home-leaf:nth-child(3) {
    width: 90px;
    top: 16rem;
    right: 0;
  }
  .home-leaf:nth-child(4) {
    bottom: 8rem;
    left: 4.5rem;
  }
  .home-leaf:nth-child(5) {
    right: 10rem;
  }
  .home-leaf:nth-child(6) {
    bottom: 1rem;
    left: -8rem;
  }
  .home-shape-small {
    width: 400px;
    height: 400px;
    top: 0;
    left: -15rem;
  }
  .home-shape-big {
    width: 500px;
    height: 500px;
    top: 22rem;
    right: -14rem;
  }
}
@media screen and (min-width: 1100px) {
  .home-container {
    column-gap: 5rem;
  }
}
@media screen and (min-width: 1250px) {
  .home-container {
    column-gap: 10rem;
  }
}
@media screen and (min-width: 1460px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home-container {
    column-gap: 15rem;
  }
}
/* -----Sale-slider shop----- */
.menu-btns {
  display: flex;
}
.shopping {
  position: relative;
  align-self: center;
  text-align: right;
  margin-right: 1.4rem;
}
.shopping img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  cursor: pointer;
}
.shopping span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
  background: red;
  border-radius: 50%;
  color: #fff;
  top: -5px;
  left: 60%;
  padding: 3px 8px;
  cursor: pointer;
}
.card {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 0;
  right: -300%;
  background-color: var(--first-color-alt);
  border: 3px solid var(--first-color);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: var(--box-shadow);
  min-height: 250px;
  transition: 0.5s;
  padding: 1rem;
  transition: 1s ease-in-out;
  z-index: 100;
}
.open-sale-card {
  right: 0;
}
.card h4 {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: var(--second-font);
  padding: 0.5rem 3rem;
  border-radius: 1rem 0.2rem;
  background-color: var(--first-color);
}
.checkOut > .closeShopping {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--first-color);
  width: 2rem;
  height: 1.8rem;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
}
.checkOut > .total-price {
  margin: 0 1rem;
  padding: 0.5rem 3rem;
  color: #fff;
  background-color: var(--first-color);
  border-radius: 1rem 0.2rem;
  cursor: pointer;
}
.checkOut > .total-price > span {
  color: #fff;
}
.listCard {
  margin: 0.5rem 0;
}

.listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
  margin-bottom: 0.5rem;
}
.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img {
  width: 90%;
}
.listCard li button {
  background-color: var(--first-color);
  color: #fff;
  border: none;
  font-size: 1.5rem;
  width: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}
.listCard .count {
  margin: 0 10px;
}
/* ----------Sale-cards----------  */
.product-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.product-item .product-card-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 320px;
  color: #fff;
  background-color: var(--first-color-alt);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0.5rem;
  letter-spacing: 1px;
}
.product-item .product-card-slide > img {
  width: 150px;
  max-height: 170px;
  height: auto;
}
.product-card-slide .product-title {
  font-weight: 600;
}
.product-card-slide .product-price {
  font-weight: 600;
}
.product-card-slide > button {
  background-color: var(--first-color);
  color: #fff;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 0.8rem 0.15rem;
  cursor: pointer;
}
/* -----------Products------------  */
.product-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.product-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.product-cards-mid {
  display: flex;
  flex-direction: row-reverse;
}
.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.product-card .product-image {
  width: 100%;
  height: 100%;
}
.product-card2 {
  display: block;
  width: 300px;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .product-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
@media (max-width: 1024px) {
  .product-cards {
    gap: 4rem;
  }
}
@media (min-width: 1025px) {
  .product-cards {
    gap: 6rem;
  }
  .product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
}
@media (min-width: 1125px) {
  .product-cards {
    gap: 8rem;
  }
  .product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
}

/* ---------------footer---------------  */
.footer {
  position: relative;
  padding-top: 2rem;
}
.footer-shape-small,
.footer-shape-big {
  background-color: var(--circle-color);
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
}
.footer-shape-small {
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
}
.footer-shape-big {
  width: 250px;
  height: 250px;
  bottom: -1rem;
  right: 0;
}
.footer-shape-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.jic-icons {
  color: var(--first-color);
  font-size: 1.5rem;
  padding: 1rem;
}
.foot-icon {
  color: var(--first-color);
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-card1 > img {
  width: 250px;
  padding: 1rem;
}

.footer-foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-foot {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
/* --------------- About ---------------- */
.about-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--header-height);
}
.about-home {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.about-home .about-img {
  padding: 1rem;
  z-index: 1;
}
.about-title {
  padding-top: 6rem;
}
.about-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 3rem;
}
.about-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 50%;
  min-height: 50vh;
  padding: 3rem;
}
@media (max-width: 768px) {
  .about-cards {
    width: 90%;
    align-self: center;
    padding: 1rem;
  }
}
.about-cards:nth-child(1) > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}
/* --------------- Service ---------------- */
.service-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--header-height);
}
.service-wrapper .service-title {
  padding-top: 6rem;
}
.service-card-1,
.service-card-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

@media (max-width: 868px) {
  .service-card-1,
  .service-card-2 {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
  .service-card-1 {
    flex-direction: column-reverse;
  }
}
/* --------------- Contact ---------------- */
.contact-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--header-height);
}
.contact-wrapper {
  width: 100%;
}
.contact-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* box-shadow: var(--box-shadow); */
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.contact-form > h4 {
  font-size: 1.4rem;
}
.contact-form p {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  width: 270px;
  height: 35px;
  border-radius: 0.5rem;
  border: 1px solid var(--first-color);
}
.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--first-color);
  width: 50px;
  height: 50px;
  margin: 0.6rem;
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  border: 1px solid var(--first-color);
  cursor: pointer;
}
.contact-icons:hover {
  text-shadow: var(--box-shadow);
}
.contact-form2 li {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 300px;
}
.contact-form2 li input {
  height: 2rem;
}
.contact-form2 li textarea,
input {
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid var(--first-color);
  box-shadow: var(--box-shadow);
}
.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--first-color);
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
}
.contact-button:hover {
  box-shadow: var(--box-shadow);
}
.contact-cards2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.contact-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-cards3 iframe {
  border-radius: 0.5rem;
}
@media (max-width: 600px) {
  .contact-cards {
    flex-direction: column;
    gap: 1rem;
  }
}
